name: Build Documentation

on:
  push:
    branches:
      - main
    paths:
      - 'website/**'
      - '.github/workflows/docs.yml'

permissions:
  contents: write

jobs:
  deploy-docs:
    name: Deploy docs
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install mkdocs
        run: |
          python -m pip install --upgrade pip
          pip install mkdocs-material

      - name: Build with mkdocs
        run: cd website && mkdocs build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: website/site
          cname: grafana-weathermap.seth.cx
